body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

div {
  background-color: rgb(19, 107, 148);
  border: black;
  outline: 2px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  background-color: white;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe {
  display: inline-block;
  width: 200px;
  margin: 0 1px;
  height: 100px;
  padding: 40px;
}

h1 {
  padding-bottom: 50px;
}

img {
  border-radius: 10px;
  width: auto;
  height: 200px;
  margin: 40px auto;
}

.steps {
  padding: 40px;
  width: 500px;
  margin: 40px auto;
}